
body {
    background-color: #E80C7A;
}

img {
    max-width: 100%;
    display: block;
}

.thumbnail {
  position: absolute;
    top: 50%;
    left: 50%;
    
    width: 320px;
    height: 240px;
    
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}

.image {
    width: 100%;
    height: 100%;    
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.btn:hover {
  background-color: #122338;
}

#randomcoursename {
  position: relative;
  width:800px;
  margin:0 auto;
}

#coursename {
  width:800px;
}

img {
    max-width: 100%;
    display: block;
}


.image {
    width: 100%;
    height: 100%;    
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}


.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.courseresultsname {
  font-size: 22px;
  color: #CC0000;
}

.courseworkload {
  font-size: 18px;
  color: #0000;
}

/* unvisited link */
a:link {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #509DFF;
}

.reviews:hover {
-webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}
.reviews {
-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.navbar-brand {
  font-size: 30px;
}

.stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
 
.stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
.stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
.stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
.stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
.stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
.stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
.stars label:hover ~ span {
  background-position: 0 -30px;
}
.stars label.star-5:hover ~ span {
  width: 100% !important;
}
.stars label.star-4:hover ~ span {
  width: 80% !important;
}
.stars label.star-3:hover ~ span {
  width: 60% !important;
}
.stars label.star-2:hover ~ span {
  width: 40% !important;
}
.stars label.star-1:hover ~ span {
  width: 20% !important;
}
.stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
