<!DOCTYPE html>
<html>
{% block style %}
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="row" id="nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="/">OPENLearn</a>
                    <li><a href="/myprofile">My Profile</a></li>
                    <li><a href="/mybookmarkedcourses">My Courses</a></li>
                    <li><a href="/Randomize">Randomize</a></li>
                    <li><a href="/all_users">All Users</a></li>
                </ul>   
                <ul class="nav navbar-nav navbar-right">
                    {% if session.get('user_email') %}
                    <li><a href="/logout" onclick="return FB.logout();">Log Out</a></li>
                    <script type="text/javascript">
                         FB.logout function(response) {
                            // user is now logged out
                        });
                    </script>
                    {% else %}
               		<li><a href="/login" id="login">Log In</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/facebook_login"><img style="width:80%;" src="static/images/facebook_login.png"></a>
                    {% endif %}
                 </ul>
            </div>
            </div>
</div>
</nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <ul class="flashes">
        <li>{{message}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
{% endblock %}
{% block content %} {% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</body>
</html>

