{% extends 'base.html' %}
{% block content %}
<table class="table table-striped">
    <tr><th>Course Name</th><th>Course Image</th><th>Course Description</th></tr>
    {% for i in saved_courses %}    
     <tr>
        <td>{{ i.course_name }}<a class="btn btn-primary" href="/course/{{ i.id }}">Course Overview</a></td>
        <td><img src="{{ i.course_icon }}"></td>
        <td>{{ i.course_description }}</td>
        <td><form name="ratings" action="/rate_course" method="GET">
            <div class="stars">
            <input type="radio" name="star" class="star-1" id="star-1" value="1" />
            <label class="star-1" for="star-1">1</label>
            <input type="radio" name="star" class="star-2" id="star-2" value="2" />
            <label class="star-2" for="star-2">2</label>
            <input type="radio" name="star" class="star-3" id="star-3" value="3"/>
            <label class="star-3" for="star-3">3</label>
            <input type="radio" name="star" class="star-4" id="star-4" value="4"/>
            <label class="star-4" for="star-4">4</label>
            <input type="radio" name="star" class="star-5" id="star-5" value="5"/>
            <label class="star-5" for="star-5">5</label>
            <span></span>
            </div>
            <input type='hidden' name='course_id' value='{{ i.id }}'>
            <button type="submit" class="btn btn-warning">{% if rating %} You have rated this course {{ rating }}Update!{% else %}Rate this MOOC{% endif %}</button>
        </form></td>
        <td><a class="btn btn-primary" href='/removefrombookmarkedcourses/{{ i.id }}' method="GET">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
