{% extends 'base.html' %}
{% block content %}
    <div class="row">
	   <div class="col-md-6" id="coursedetailsicon"><img src="{{ course.course_icon }}"></div>
       <div class="col-md-6" id="coursedetailsname"><h1>{{ course.course_name }}</h1></div>
    </div>
    <div class="row">
        <div class="col-md-2" id="ratingstarform">
            <form name="ratings" action="/rate_course" method="GET">
                <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
                </span>
                <input type='hidden' name='course_id' value='{{ course.id }}'>
                <button type="submit" class="btn btn-warning btn-lg">{% if rating %} You have rated this course {{ rating }}Update! {% else %} Rate this MOOC {% endif %}</button><br><br>
                </form>
                <script>
                    $(':radio').change(
                      function(){
                        $('.choice').text( this.value + ' stars' );
                      } 
                    )
                </script>
            <button type="button" class="btn btn-default">
            <a class="glyphicon glyphicon-heart-empty" id="heartempty" href="/bookmarkcourse/{{ course.id }}" method="GET"></a>
            </button><br><br>
            <a class="btn btn-info btn-lg" href="http://www.coursera.org/course/{{ course.course_shortname }}" target="_blank"> Join this course </a><br><br>

        <div class="review-button">
        <button type="submit" class="btn btn-primary btn-lg">
            <a href="/writereview/{{ course.id }}" method="GET">Write a review</a>
        </button>
        </div>
        </div>
	<div class="col-md-10" id="coursedetails">
        {% if rating %}
            <h4>{{ course.course_name }} has {{ course.ratings|length }} ratings.<br>
            The average rating is {{ '%0.2f' % ((course.ratings|sum(attribute='rating')) / (course.ratings|length)) }}.</h4></div>
        {% else %}
            <h4> This course does not have any ratings at the moment. </h4>
        {% endif %}
    	<h3><i>Course Description:</i></h3> {{ course.course_description }}
    	<h3><i>Course Format:</i></h3> {{ course.course_format }}
    	<h3><i>Course Prerequisites:</i></h3> {{ course.course_prerequisites }}
    	<h3><i>Course Instructor:</i></h3> {{ course.course_instructor }}
<div class="whatpeoplesay">
    <h4>What People are Saying<h4>
        {% if review %}

        {% for i in review %}<br>
        <div>
            <div class="reviews">"{{ i.review }}" -User# {{ i.user_id }} </div><br>
       
            {% endfor %}
        </div>
        {% endif %}
</div>

{% endblock %}