{% extends "base.html" %}
{% block content %}
 <div id="homepage"></div>
<div class="col-sm-4">
	<div class="searchform" id="formsubmission">
<form action="/login" class="form-signin" method="POST">
    <h2 class="form-signin-heading">Login</h2><br>
    		<label for="email">Email</label>
    		<input type="email" name="email" class="form-control"placeholder="Email Address" required><br>    		
    		<label for="password">Password</label>
    		<input type="password" name="password" class="form-control" placeholder="Password" required><br>
    		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
 		<br>
</form>
</div>
</div>
{% endblock %}