{% extends 'base.html' %}
{% block content %}

	{% if session.get('user_email') %}
	<div class="usernick"><h2>{{ user.nickname }}'s Profile</h2></div>
		<img src="{{ user.avatar(128) }}"><br>
		<a class="btn btn-default" href="/friend_requests">Friend Requests</a>
		<a class="btn btn-default" href="/send_friend_request/{{user.nickname}}">Send Friend Request</a>
		<a class="btn btn-default" href="/friends">Friends</a>
		<div id="friends"></div>
		{% if user.about_me %}
		<h3> About Me </h3>
  		{{ user.about_me }}<a class="btn btn-default" href="/edit" method="POST">Edit</a>

		{% else %}
		<form action="/aboutme" method="POST" role="form">
    	<div class="form-group">
      	<label for="comment">About me:</label><br>
      		 <textarea class="form-control" name="aboutme" rows="5" cols="40" id="comment"></textarea>
    	</div>
      	<button type="submit" class="btn btn-default">Submit</button>
  		</form>
		{% endif %}
	<h4><a href="/bookmarkedcourses">My Bookmarked Courses</a></h4>
		
	{% else %}
		<h4>Please log in to view your profile!</h4>
	{% endif %}
{% endblock %}