{% extends 'base.html' %}
{% block content %}
	{% if session.get('user_email') %}
	<div class="row">
		<div class="col-md-4">
			<div class="usernick">
				<h2>{{ user.nickname }}'s Profile</h2>
			</div>
			<div class="profilepicture">
				<img src="{{ user.avatar(128) }}"><br>
			</div><br>
			<div class="allbuttonsonmyprofile" id="allbuttonsonmyprofile">
				<a class="btn btn-info btn-lg" href="/friend_requests">
					<span class="glyphicon glyphicon-envelope"></span>   Friend Requests</a>
				<a class="btn btn-success btn-lg" href="/send_friend_request/{{user.nickname}}">
					<span class="glyphicon glyphicon-send"></span>  Send Friend Request</a><br><br>
				<a class="btn btn-primary btn-lg" href="/friends">
					<span class="glyphicon glyphicon-user"></span>  Friends</a> 
				<a class="btn btn-warning btn-lg" href="/mybookmarkedcourses">
					<span class="glyphicon glyphicon-heart"></span>   My Bookmarked Courses</a>
			</div>
		</div>
		<div class="col-md-4">
			<h1> About Me </h1>
			{% if user.about_me %}
			{{ user.about_me }}<br><br><a class="btn btn-default" href="/edit" method="POST">Edit</a>
			{% else %}
			<form action="/aboutme" method="POST" role="form">
				<div class="form-group">
					<label for="comment">About me:</label><br>
				<textarea class="form-control" name="aboutme" rows="5" cols="40" id="comment"></textarea>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
			{% endif %}
	{% else %}
		<h4>Please log in to view your profile!</h4>
	{% endif %}
{% endblock %}