{% extends 'base.html' %}
{% block content %}
<p>{{ randomcourse.id }}</p>
<p>{{ randomcourse.course_name }}</p>
<p><img src="{{ randomcourse.course_icon }}"</p>
<p><img src="{{ courseimage }}"></p>
{% if session.get('user_email') %}
<span class="star-rating">
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
</span>
<strong class="choice">Choose a rating</strong>
<script language="javascript" type="text/javascript">$(':radio').change(
  function(){
    $('.choice').text( $(this).val() + ' stars' );
  } 
)</script>
<div class="col-sm-6">
 <form action = "/bookmarkcourse" method="GET">
      <a class="btn btn-primary" href="/bookmarkcourse/{{ randomcourse.id }}">Bookmark course</a>
     </form>
{% else %}
<p><a href="/signup">Please sign in to bookmark this course!</a></p>
<link rel="stylesheet" type="text/css" href="mycustom.css">
{% endif %}
{% endblock %}
