{% extends 'base.html' %}
<title> Recommended courses </title>
	{% block content %}
	<table class="table table-striped">
	<p> Here are your courses! </p>
	<tr><th>Course Name</th><th>Course Image</th><th>Course Workload</th><th>Course Details</th></tr>
	<a href="/Recommend}}"></a>
		{% for c in list_of_courses %}
	<tr>
					<td><img src="{{ c.course_icon }}"></td> 
					<td><a href="/course/{{ c.id }}">{{ c.course_name }}</a></td>
					<td>{{ c.course_workload }}</td>
					<td><a class="btn btn-primary" href="/course/{{ c.id }}">Details</a></td>
					<td><button type="button" class="btn btn-default btn-lg">
    <a class="glyphicon glyphicon-bookmark" href="/bookmarkcourse/{{ c.id }}" method="GET"></a>
    </button></td>
    </tr>
    {% endfor %}
    </table>
    {% endblock %}  
