{% extends 'base.html' %}
<title> Recommended courses </title>
	{% block content %}
	<h2 class="searchresults">Your search results for courses in the <font color="orange">{{ cat.category_name }}</font> category, with a maximum workload of <font color="orange">{{ workload_chosen }} hours per week</font>, and a length of <font color="orange">{{ duration_chosen }} weeks</font></h2>



	<table class="table table-striped">
		<tr><th>Course Name</th><th>Course Image</th><th>Course Workload</th><th>Course Details</th></tr>
		{% for c in list_of_courses %}
		<tr>			
    		<td><div class="image"><img src="{{ c.course_icon }}"></div></td>
			<td><div class="courseresultsname"><a href="/course/{{ c.id }}">{{ c.course_name }}</a>  <button type="button" class="btn btn-default btn-lg">
   					<a class="glyphicon glyphicon-bookmark" href="/bookmarkcourse/{{ c.id }}" method="GET"></a></button></div></td>
			<td><div class="courseworkload">{{ c.course_workload }}</div></td>
			<td><a class="btn btn-primary" href="/course/{{ c.id }}">Course Overview</a></td>
    	</tr>
    	{% endfor %}
    </table>
  	{% endblock %}  
