{% extends "base.html" %}
    <title>Sign Up</title>
{% block content %}

<div class="signupform">
	<form action="/signup" class="form-signin" method="POST">
    	<h2 class="form-signin-heading">Please Sign Up</h2><br>
    	<h4>Email</h4>
    	<input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus /><br>
    	<h4>Password</h4>
    <input type="password" name="password" class="form-control" placeholder="Password" required /><br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>
</div> 

{% endblock %}