{% extends "base.html" %}
{% block content %}
	{% if session.get('user_email') %}
	<div class="usernick"><h2>{{ user.nickname }}'s Profile</h2></div>
		<img src="{{ user.avatar(128) }}"><br>
		<a class="btn btn-default" href="/send_friend_request/{{user.nickname}}">Send Friend Request</a>
		<a class="btn btn-default" href="/friends">Friends</a>
		<div id="friends"></div>
		{% if user.about_me %}
		<h3> About Me </h3>
  		{{ user.about_me }}

		{% else %}
		{% endif %}
	<h4><a href="/bookmarkedcourses">{{ user.nickname }}'s Bookmarked Courses</a></h4>
		
	{% else %}
		<h4>Please log in to view this profile!</h4>
	{% endif %}
{% endblock %}