{% extends "base.html" %}
{% block content %}
	{% if session.get('user_email') %}
	<div class="row">
		<div class="col-md-4">
			<h2>{{ user.nickname }}'s Profile</h2>	
		
			<div class="profilepicdiv">
				<div class="profilepicture">
					<img src="{{ user.avatar(128) }}">
				</div><br>
				<a class="btn btn-success btn-lg" href="/send_friend_request/{{user.nickname}}"> <span class="glyphicon glyphicon-send"></span> Send Friend Request</a><br><br>
				<a class="btn btn-warning btn-lg" href="/othersbookmarkedcourses/{{ user.id }}"><span class="glyphicon glyphicon-heart"></span> {{ user.nickname }}'s Bookmarked Courses</a>
			</div>
		</div>
		{% if user.about_me %}
		<div class="col-md-4">
		<h3> About Me </h3>
  		{{ user.about_me }}

		{% else %}
		{% endif %}
	</div>
	</div>
			
	{% else %}
		<h4>Please log in to view this profile!</h4>
	{% endif %}
{% endblock %}