{% extends 'base.html' %}
{% block content %}
<form action="/Recommend" id="form-submission" method="GET">
	<h2 class="form-signin-heading">Find a course</h2>
	<label>Duration</label> <select name="duration">
	<option value="5weeks">Less than 5 weeks</option>
	<option value="10weeks">Less than 10 weeks</option>
	<option value="15weeks">Less than 15 weeks</option>
	<option value="20weeks">Less than 20 weeks</option>
	</select><br>
	<label>Category</label> <select name="chosencategory" required>
		<option value="Mathematics">Mathematics</option>
		<option value="Law">Law</option>
		<option value="Chemistry">Chemistry</option>
		<option value="Physics">Physics</option>
		<option value="Chemistry">Music, Film, and Audio</option>
		<option value="Chemistry">Biology &#38;Life Sciences</option>
		<option value="Statistics">Statistics and Data Analysis</option>
		<option value="Nutrition">Food and Nutrition</option>
		<option value="SocialSciences">Social Sciences</option>
		<option value="Arts">Arts</option>
		<option value="Engineering">Engineering</option>
		<option value="Education">Education</option>
		<option value="Humanities">Humanities </option>
		<option value="Medicine">Medicine</option>
		<option value="Softwareengineering">Computer Science: Software Engineering</option>
		<option value="Systems">Computer Science: Systems &#38; Security</option>
		<option value="Health">Health &#38; Society</option>
		<option value="Physicalsciences">Physical &#38; Earth Sciences</option>
		<option value="Economics">Economics &#38; Finance</option>
		<option value="ArtificialIntelligence">Computer Science: Artificial Intelligence</option>
		<option value="Compscitheory">Computer Science: Theory</option>
		<option value="Business">Business &#38; Management</option>
		<option value="Energy">Energy &#38; Earth Sciences</option>
		<option value="Teaching">Teacher Professional Development</option>
		<option value="Infotech">Information, Tech &#38; Design</option>
	</select><br>
	<label>Workload</label>   <select name="workload" placeholder="Workload" >
		<option value="lessthan3">Maximum of 3 hours per week</option>
		<option value="5to10">Maximum of 5 hours per week</option>
		<option value="11to15">Maximum 7 hours per week</option>
		<option value="16to20">Maximum 9 hours per week</option>
		<option value="16to20">Maximum 11 hours per week</option>
		<option value="16to20">Maximum 15 hours per week</option>
		<option value="16to20">Maximum 20 hours per week</option>
	</select><br>
<button class="btn btn-primary btn-lg active" type="submit">Submit</button>
</form>

{% endblock %}
