{% extends 'base.html' %}
{% block content %}
<form action="/Recommend" id="form-submission" method="GET">
	<h2 class="form-signin-heading">Find a course</h2>
	<label>Duration</label> <select name="duration">
	<option value="5weeks">1 weeks</option>
	<option value="10weeks">2 weeks</option>
	<option value="3 weeks">3 weeks</option>
	<option value="20weeks">4 weeks</option>
	<option value="20weeks">5 weeks</option>
	<option value="20weeks">6 weeks</option>
	<option value="20weeks">7 weeks</option>
	<option value="20weeks">8 weeks</option>
	<option value="20weeks">9 weeks</option>
	<option value="20weeks">10 weeks</option>
	<option value="20weeks">11 weeks</option>
	<option value="20weeks">12 weeks</option>
	<option value="20weeks">13 weeks</option>
	<option value="20weeks">14 weeks</option>
	<option value="20weeks">15 weeks</option>
	<option value="20weeks">16 weeks</option>
	<option value="20weeks">17 weeks</option>
	<option value="20weeks">18 weeks</option>
	<option value="20weeks">19 weeks</option>
	<option value="20weeks">20 weeks</option>
	</select><br>
	<label>Category</label> <select name="category" required>
		<option value="Mathematics">Mathematics</option>
		<option value="Law">Law</option>
		<option value="Chemistry">Chemistry</option>
		<option value="Physics">Physics</option>
		<option value="Music, Film, and Audio">Music, Film, and Audio</option>
		<option value="Biology & Life Sciences">Biology &#38; Life Sciences</option>
		<option value="Statistics and Data Analysis">Statistics and Data Analysis</option>
		<option value="Food and Nutrition">Food and Nutrition</option>
		<option value="Social Sciences">Social Sciences</option>
		<option value="Arts">Arts</option>
		<option value="Engineering">Engineering</option>
		<option value="Education">Education</option>
		<option value="Humanities">Humanities </option>
		<option value="Medicine">Medicine</option>
		<option value="Computer Science: Software Engineering">Computer Science: Software Engineering</option>
		<option value="Computer Science: Systems & Security">Computer Science: Systems &#38; Security</option>
		<option value="Health & Society">Health &#38; Society</option>
		<option value="Physical & Earth Sciences">Physical &#38; Earth Sciences</option>
		<option value="Economics & Finance">Economics &#38; Finance</option>
		<option value="Computer Science: Artificial Intelligence">Computer Science: Artificial Intelligence</option>
		<option value="Computer Science: Theory">Computer Science: Theory</option>
		<option value="Business & Management">Business &#38; Management</option>
		<option value="Energy & Earth Sciences">Energy &#38; Earth Sciences</option>
		<option value="Teacher Professional Development">Teacher Professional Development</option>
		<option value="Information, Tech & Design">Information, Tech &#38; Design</option>
	</select><br>
	<label>Workload</label>   <select name="workload">
		<option value="max3">Maximum of 3 hours per week</option>
		<option value="max5">Maximum of 5 hours per week</option>
		<option value="max7">Maximum 7 hours per week</option>
		<option value="max9">Maximum 9 hours per week</option>
		<option value="max11">Maximum 11 hours per week</option>
		<option value="max15">Maximum 15 hours per week</option>
		<option value="max20">Maximum 20 hours per week</option>
	</select><br>
<button class="btn btn-primary btn-lg active" type="submit">Submit</button>
</form>

{% endblock %}
